In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv('C:\\Users\\guill\\OneDrive\\Escritorio\\IA Trabajos\\Clases Teor√≠a\\Ejercicio Casas\\california.csv')

In [3]:
df.head()

,Unnamed: 0,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [4]:
df.shape

(20640, 10)

In [5]:
X=df.iloc[:,2:5]

In [6]:
y=X.iloc[:,0]
y.shape

(20640,)

In [7]:
y=np.resize(y,(len(y),1))
y.shape

(20640, 1)

In [8]:
#Normalizamos las variables
X_scaler=StandardScaler()
y_scaler=StandardScaler()

X=X_scaler.fit_transform(X.values)
y=y_scaler.fit_transform(y)

In [9]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.15,random_state=42)

m=X_train.shape[0]

In [10]:
X_train=np.c_[np.ones((m,1)),X_train] #Agg la filas de 1's

In [11]:
#implement gradient descent mini batch
eta_mini=0.01
batch_size=16
n_iterations_mini=1000
theta_mini=np.random.rand(X_train.shape[1],1)

In [12]:
for iteration in range(n_iterations_mini):
    rand_indx_mini=np.random.randint(0, high=446,size=1)[0]
    X_mini_batch=X_train[rand_indx_mini:rand_indx_mini+batch_size]
    Y_mini_batch=y_train[rand_indx_mini:rand_indx_mini+batch_size]
    gradients_mini=(2/batch_size)*(X_mini_batch.T.dot(X_mini_batch.dot(theta_mini)-Y_mini_batch))
    theta_mini=theta_mini-(eta_mini*gradients_mini)

print(theta_mini)

[[-2.27814812e-05]
 [ 9.99935875e-01]
 [-1.22112002e-03]
 [ 1.61626960e-03]]